<ul class="list-inline">
    <li class="list-inline-item"><a asp-controller="MotivationalExercises" list-group-item-action>Home</a></li>
    <li class="list-inline-item"><a asp-controller="DatabaseConfiguration" list-group-item-action>Database</a></li>
    <li class="list-inline-item"><a asp-controller="SqlStatement" list-group-item-action>Sql Statements</a></li>
    <li class="list-inline-item"><a asp-controller="EntityFramework" list-group-item-action>Entity Framework</a></li>
    <li class="list-inline-item"><a asp-controller="PredicateBuilder" list-group-item-action>Predicate Builder</a></li>
    <li class="list-inline-item"><a asp-controller="PlainEFQ" list-group-item-action>Plain EFQ</a></li>
    <li class="list-inline-item"><a asp-controller="EFQOnServer" list-group-item-action>EFQuery on server</a></li>
    <li class="list-inline-item"><a asp-controller="EFQOnClient" list-group-item-action>EFQuery on client</a></li>
</ul>
