@page
@model JDege.EFQ.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<h1>EFQ</h1>
<h2>Serializable Entity Framework Queries</h2>

<p>EFQ is a .net 5.0 library to enable serializing Entity Framework queries</p>
<p>When we started working with Entity Framework, there were two functionalities
    we had been using that EF, out of the box, did not support:</p>

<ul>
    <li>Storing a query in the database, </li>
    <li>Constructing a query dynmically on a web page and submitting it to a webservice.</li>
</ul>

<p>Both of these are pretty simple to do in SQL, and we wanted to be able to do something
    similar using Entity Framework.</p>

<p></p>
